* {
  margin: 0;
}
.hero {
  height: 50vh;
  background-color: black;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0)),
    url("https://s3-alpha-sig.figma.com/img/a719/db31/8544fa3c134093ef9a0961c20a01dfdf?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=N~aF6vzpayXVWgB3AgjRFissIaVtSPsQp-VqKq3ooEUE1dr~foa6BmjVd-unTPCbmWuLSozryQMWZvTwNkoG6ab67samYWc0q2WFyRCAaMbRVblnlRi5HL5WnTzpPHi7hxxZzKFXFo0Mjz7vKfAIAWPzCXxIsAWp6a5AobFtRoS1X5eaubzagk4rHdu6dt5F~ShNgRXG~8zdm6LPDC~hi-4ykQXSIUdFcbKfvgbLLuNXZO90mLEcTINM7XvqYUrqcsa4j49G~JhuyYX~4rK9xAdtNUHtKxBL~kYIgHloR7~INWY6t0tfofOf34uk69gRWe2N6fx6~KQUNqrOlago5g__");
  background-size: 100%;
}

.buttons {
  display: flex;
  gap: 10px;
}
.button-1 {
  text-align: center;
  color: rgba(150, 150, 150);
  margin-bottom: auto;
  margin-top: auto;
}
.button-2 {
  margin-bottom: auto;
  margin-top: auto;
  color: #ffffff;
}
.button-3 {
  width: 142.68px;
  height: 40px;
  border-radius: 30px;
  background-color: #ffffff80;
  box-shadow: 4px 4px 50px -4px #d1d1d199;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  width: 118px;
  height: 20px;
  top: 5px;
  left: 30px;
  gap: 0px;
  opacity: 0px;

  display: flex;
}
.image-style {
  width: 138px;
  height: 15px;
}

.nav {
  display: flex;
  justify-content: center;
}

.soninii-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}
.section {
  width: 1116px;
  height: 42px;
  display: flex;
  justify-content: space-between;
}
.logo-style {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.ded-title {
  top: 134px;
  left: 507.39px;
  font-size: 35px;
  color: #ffffff;
  width: 500px;
}
.image {
  width: 450px;
  height: 450px;
  transition: all 0.5s;
}
.images:hover {
  scale: 1.1;
}
.big-box {
  display: flex;
  justify-content: center;
  height: 327px;
  width: auto;
  background-color: black;
}
.black-box {
  display: flex;
  gap: 20px;
}
.img-contr {
  width: 450px;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
}
.medushtei-style {
  font-size: 35px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  margin: 7px 0 0 0;
}
.unuudur-style {
  animation: linear;
}

.image1 {
  width: 244px;
  height: 360px;
  display: flex;
  gap: 10px;
  transition: all 0.5s;
  border-radius: 9px;
  background-image: url(image-1.jpg);
  background-size: 250%;
  background-position: center;
}
.image2 {
  width: 244px;
  height: 360px;
  display: flex;
  gap: 10px;
  transition: all 0.5s;
  border-radius: 9px;
  background-image: url(image-2.jpg);
  background-size: 250%;
  background-position: center;
}
.image3 {
  width: 244px;
  height: 360px;
  display: flex;
  gap: 10px;
  transition: all 0.5s;
  border-radius: 9px;
  background-image: url(image-3.jpg);
  background-size: 250%;
  background-position: center;
}
.image4 {
  width: 244px;
  height: 360px;
  display: flex;
  gap: 10px;
  transition: all 0.5s;
  border-radius: 9px;
  background-image: url(image-4.jpg);
  background-size: 270%;
  background-position: center;
}
.image5 {
  width: 244px;
  height: 360px;
  display: flex;
  gap: 10px;
  transition: all 0.5s;
  border-radius: 9px;
  background-image: url(image-5.jpg);
  background-size: 250%;
  background-position: center;
}
.image6 {
  width: 244px;
  height: 360px;
  display: flex;
  gap: 10px;
  transition: all 0.5s;
  border-radius: 9px;
  background-image: url(image-6.jpg);
  background-size: 250%;
  background-position: center;
}
.image7 {
  width: 244px;
  height: 360px;
  display: flex;
  gap: 10px;
  transition: all 0.5s;
  border-radius: 9px;
  background-image: url(image-7.jpg);
  background-size: 250%;
  background-position: center;
}
.all-comment-box {
  max-width: 1116px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.comment-box {
  background-color: aquamarine;
  max-width: 739px;
  height: 236px;
  font-size: 18px;
  border-radius: 0 27px 27px 27px;
}
.box-right {
  align-self: flex-end;
}
.boxs-image {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background-image: url(boxs-image1.jpeg);
  background-size: 100%;
}
.reporter-name {
  color: black;
}
.date {
  color: black;
}
.report-title {
  color: blue;
  font-size: 20px;
}
.short-report {
  font-size: 30px;
}
.report-box {
  max-width: 739px;
  min-height: 183px;
}
.gap {
  height: 100px;
}
.last-box {
  background-color: black;
  height: 750px;
}
.boxs-title {
  color: #ffffff;
}
