.main {
  height: 1425px;
  background-color: red;
}
.header-1 {
  background-color: black;
  width: 1116px;
  height: 42px;
  top: 24px;
  left: 154.5px;
  gap: 0px;
  opacity: 0px;
  margin-left: auto;
  margin-right: auto;
}
